.add-input {
  background-color: #34495e;
  color: #f4f7f7;

  border-radius: 0.3rem;
  display: flex;

  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.fa-plus-square:hover {
  color: #aacfd0;
}
.add-input h3 {
  align-self: center;
  margin: 0;
  padding-left: 30%;
}

.add-input i {
  padding: 0.6rem;
  margin: 0;
  font-size: 3rem;
  border-left: 1px white solid;
}
.add-input i:hover {
  cursor: pointer;
}
