.add-input {
  background-color: #34495e;
  color: #f4f7f7;

  border-radius: 0.3rem;
  display: flex;

  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.add-input h3 {
  padding: 0 2rem 0 2rem;
  margin: 0;
  text-align: center;
}

.add-input i {
  padding: 0.6rem;
  margin: 0;
  font-size: 3rem;
  border-left: 1px white solid;
}
.add-input i:hover {
  cursor: pointer;
}
