.form-builder {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  overflow-x: hidden;
}

.formbuilder-main, .formbuilder-forms{
  width: 100%;
  

}
.formbuilder-main{
  margin: 0.5rem;
  background-color: #2375ab;
  height: auto;
}
.formbuilder-forms{
  margin-right: 0.5rem;
  padding: 0;
  height: auto;
}


@media (max-width: 768px){
  .form-builder{
    display: flex;
    flex-direction: column;
  }

  
}