@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.packages-page {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow: hidden;
}

.layout-packages{

    height: 100vh;
    overflow: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.header-layout{

  background-color: #2374AB;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.header-layout h1{
  font-size: 2rem;
  text-align: center;
  color: #FCFCFF; 
  
}
.header-layout h2{
  text-align: center  ;
  font-size: 1.6rem;
  color: #FCFCFF; 
 
}

.header-layout h3{
  text-align: center;
  font-size: 1.3rem;
  color: #FCFCFF; 
  
}

.packages-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.package-container{
  height: auto;
  border-bottom: 1px solid black;

}

.packages-display{
  max-height: 100%;
  
  
  
}

.fb-cont:hover{
  transform: scale(1.02);
  transition: ease-in 0.3s;
  
}

.fb-cont{
  transform: scale(1);
  transition: ease-out 0.3s;
}

@media (max-width: 900px){
  .sidebar{
    z-index: 1;
    display: none;
  }

  .menu-icon{
    display: block;
    
  }
  
.ant-layout-sider-children{
  
  width: 100vw;
}


.footer-sidebar{
  
  width: 100vw;
}
.packages-page{
  width: 100vw;
 
}
}